*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.nav:hover {
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	background: #1E8DD5;
}

nav {
	background: #2D3E50;
	color: white;
	padding: 0.8rem;
	margin-bottom: 2rem;
}

nav .nav-logo {
	margin: 0.5rem;
	display: inline-block;
}

nav .nav {
	color: #1E8DD5;
	display: inline-block;
	float: right;
	margin: 0.5rem;
}

h2 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-top: 12rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border: 3px solid white;
	border-radius: 5px;
	margin-left: 20rem;
	margin-right: 20rem;
}

p {
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2rem;
}

button {
	color: #1E8DD5;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2rem;
	border: none;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border: 3px solid white;
	border-radius: 5px;
	margin-left: 45%;
}